<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-3"></div>
        <div class="col col-lg-6 card">
            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
                    <div *ngIf="formControl.email.touched && formControl.email.invalid" id="emailHelp"
                        class="form-text alert alert-danger">
                        <p *ngIf="formControl.email.errors.required">email is required</p>
                        <p *ngIf="formControl.email.errors.email">this is not valid email</p>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        aria-describedby="passwordHelp">
                    <div *ngIf="formControl.password.touched && formControl.password.invalid" id="password.Help"
                        class="form-text alert alert-danger">
                        <p *ngIf="formControl.password.errors.required">password. is required</p>
                        <p *ngIf="formControl.password.errors.minlength">minimum length is 4 characters</p>
                    </div>
                </div>
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col col-lg-3"></div>
    </div>
</div>