<div class="container mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search any products" [(ngModel)]="searchTerm">
    </div>
    <div class="card">
        <table *ngIf="productList" class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productList | search: searchTerm: 'title'">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td><span routerLink="{{'products/' + product.id}}" class="action"><i
                                class="fa-regular fa-eye"></i></span></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!productList" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>